body {
    background-color: black;
  }
  .app__headers {
    display: flex;
    color: orange;
    justify-content: space-between;
  }
  /* }
  .app__logo {
    margin-left: "25px";
    margin-top: "1px";
    width: 75px;
    display: flex;
  }
  .app_title {
    display: flex;
    margin-top: 25px;
    align-content: center;
    align-items: baseline;
    font-size: xx-large;
  }
  
  .setting__logo{
      display: flex;
      margin-top: 35px;
  } */